<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody id="table_body">
      <!-- Table body inside index_retrieve.js:  -->
    </tbody>
  </table>
</div>

<!--adding firebase-->
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBmkqE2s4-Zz3MKxUPolybdW6BVLF78qjI",
    authDomain: "fir-1833a.firebaseapp.com",
    databaseURL: "https://fir-1833a.firebaseio.com",
    projectId: "fir-1833a",
    storageBucket: "fir-1833a.appspot.com",
    messagingSenderId: "403175349056"
  };
  firebase.initializeApp(config);
</script>
<script src = index_retrieve.js></script>

</body>
</html>
