<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Firebase</title>
  </head>
  <body>
    <h1 id="head">Heading of page</h1>
    <textarea id="textarea" name="textarea" rows="8" cols="80"></textarea><br>
    <button id="button" onclick="submit()" type="submit" name="button">Submit</button>
    <!--adding firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBmkqE2s4-Zz3MKxUPolybdW6BVLF78qjI",
        authDomain: "fir-1833a.firebaseapp.com",
        databaseURL: "https://fir-1833a.firebaseio.com",
        projectId: "fir-1833a",
        storageBucket: "fir-1833a.appspot.com",
        messagingSenderId: "403175349056"
      };
      firebase.initializeApp(config);
    </script>
    <script src = index.js></script>

  </body>
</html>
