{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Dashboard<small>Welcome {{session.username}}</small> </h1>
    <p>About KJ Somaiya College (Sion) Here</p>
  </div>
  <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
  <input class="mdc-text-field__input" type="text" id="input">
  <label for="input" class="mdc-floating-label">Input Label</label>
  <div class="mdc-line-ripple"></div>
</div>

<!-- at the bottom of the page -->
<script type="text/javascript">
  window.mdc.autoInit();
</script>
{% endblock %}
