{% extends 'layout.html' %}

{% block body %}
<div id='meter'><div id='progress'></div> </div>
<form class=""  method="post" >
  <div class="form-group">
    <label for="addLab">Add Labs</label>
    <input type="text" style="width: 500px;" id="addLab" name="addLab" class="form-control" placeholder="Add Lab" required>
    <label for="addLabRoom">Add Lab Rooms</label>
    <input type="text" style="width: 500px;" id="addLabRoom" name="addLabRoom" class="form-control" placeholder="Add Lab Rooms" required>
    <!-- do select for teachers -->
    <!-- style="visibility: hidden" -->
    <br><br>
    <select class="custom-select" style="width: 500px;" name="subjects0" id="chooseTea" class=>
            {% for i in subject0 %}
            <option value="{{ i.t_name }}">{{ i.t_name }}</option>
            {% endfor %}
    </select>
    <br><br>
    <select class="custom-select" style="width: 500px;" name="subjects0" id="chooseTea2" class=>
        {% for i in subject0 %}
        <option value="{{ i.t_name }}">{{ i.t_name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <select class="custom-select" style="width: 500px;" name="subjects0" id="chooseTea3" class=>
        {% for i in subject0 %}
        <option value="{{ i.t_name }}">{{ i.t_name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <select class="custom-select" style="width: 500px;" name="subjects0" id="chooseTea4" class=>
        {% for i in subject0 %}
        <option value="{{ i.t_name }}">{{ i.t_name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <button type="button" onclick="addLaborateries();" class="btn btn-primary">Add</button>
    <input type="button" onclick="allLaborateries();" value="continue" class="btn btn-primary">
    <br>
    <button type="submit" name="button2" id='ram' onclick="javascript: form.action='/afterlab';" > when done !</button>
    <textarea name="Lab_textAreaField" style="visibility: hidden"id="Lab_textAreaField" ></textarea>
    <textarea name="Lab_textAreaField2" id="Lab_textAreaField2" style="visibility: hidden"></textarea>
    <textarea name="Lab_textAreaField3" id="Lab_textAreaField3" style="visibility: hidden"></textarea>

  </div>
</form>
<script>
//subjects
    var cur_Labs = "";
    var cur_teach = "";
    var cur_room = "";
    var all_labs = "";
    var all_tea = "";
    var all_room = "";
    var counter = 0;
    function addLaborateries(){
        var input = document.getElementById('addLab').value;
        var input2 = document.getElementById('chooseTea').value;
        var input3 = document.getElementById('chooseTea2').value;
        var input4 = document.getElementById('chooseTea3').value;
        var input5 = document.getElementById('chooseTea4').value;
        var input6 = document.getElementById('addLabRoom').value;

        if(input != '' && input6 != ''){
            cur_Labs = input + '~' + cur_Labs;
            cur_teach = input2 + ':' + input3 + ':' + input4 + ':' + input5 + '~' + cur_teach;
            cur_room = input6 + '~' + cur_room;
            console.log(cur_Labs);
            console.log(cur_teach);
            console.log(cur_room);
            document.getElementById('addLab').value = "";
            document.getElementById('addLabRoom').value = "";
        }
        else{
            alert('please fill all fields!');
        }
    }
    document.getElementById('ram').style.visibility='hidden';
    function allLaborateries(){
        var input = document.getElementById('addLab').value;
        counter += 1
        if(input != ''){
            if(counter == 1){
              ram.style.visibility="visible";
            }
            else{
                cur_Labs = cur_Labs.slice(0, -1);
                cur_teach = cur_teach.slice(0, -1);
                cur_room = cur_room.slice(0, -1);
                all_labs = cur_Labs + '/' + all_labs;
                all_tea = cur_teach + '/' + all_tea;
                all_room = cur_room + '/' + all_room;
                console.log(all_labs);
                console.log(all_tea);
                console.log(all_room);
                cur_Labs = '';
                cur_teach = '';
                cur_room = '';
                document.getElementById('addLab').value = "";
                document.getElementById('addLabRoom').value = "";
                document.getElementById('Lab_textAreaField').innerHTML = all_labs;
                document.getElementById('Lab_textAreaField2').innerHTML = all_tea;
                document.getElementById('Lab_textAreaField3').innerHTML = all_room;
            }
        }
        else{
            alert('please fill all fields!');
        }
    }
    // print(allSubjects)
</script>
{% endblock %}
