{% extends 'layout.html' %}

{% block body %}
<form class=""  method="post">
  <div class="form-group">
    <label for="addRooms">Add Room</label>
    <input type="text" style="width: 500px;" id="allRooms" name="allRooms" class="form-control" placeholder="Add Rooms" required>
    <textarea name="room_textAreaField" id="room_textAreaField" style="visibility: hidden" ></textarea>
    <!-- style="visibility: hidden" -->
    <br>
    <button type="button" onclick="addInRoom();" class="btn btn-primary">Add</button>
    <input type="submit" onclick="javascript: form.action='/subject';" value="continue" class="btn btn-primary">
  </div>
</form>
<script>
  var arrayRoom = '';
  function addInRoom(){
    var input = document.getElementById('allRooms').value;
    arrayRoom = input + ',' + arrayRoom;
    // Make array
    // var values = "";
    // for(i=0; i<arrayTeach.length; i++){
    //   values = values +" " + arrayTeach[i];
    // }
    // console.log(values)
    // // Display array
    document.getElementById('allRooms').value = "";
    document.getElementById('room_textAreaField').innerHTML = arrayRoom;
  }
</script>
{% endblock %}
