{% extends 'layout.html' %}
{% block body %}
{% set i = 0 %}
<form class=""  method="post" >
  <div class="form-group">
    <label for="addSub">Add Subject</label>
    <input type="text" style="width: 500px;" id="addSub" name="addSub" class="form-control" placeholder="Add Subject" >
    <!-- do select for teachers -->
    <br>
    <!-- style="visibility: hidden" -->
    <p><b>Choose Teacher:</b></p>
    <select size="1" class="custom-select" name="subjects0" style="width: 500px;" id="chooseTea">

      {% for i in subject0 %}
      <option value="{{ i.t_name }}">{{ i.t_name }}</option>
      {% endfor %}
      </select>

<br><br>
    <button type="button" id="add" onclick="addSubj();" class="btn btn-primary">Add Subject</button>
    <input type="button" id="continue" onclick="allSubj();" value="Next division" class="btn btn-primary">
<br><br>
    <button class="btn btn-primary" type="submit" name="button2" id='done' onclick="javascript: form.action='/lab';" style="visibility: hidden">Next -> Lab</button>
    <textarea  id="Sub_textAreaField1" name="Sub_textAreaField1" style="visibility: hidden"></textarea>
    <textarea  id="Sub_textAreaField2" name="Sub_textAreaField2" style="visibility: hidden"></textarea>
  </div>
</form>
{{endfor}}
<script>
//subjects
    var currentSub = "";
    var allSubjects = "";
    var currentTea = "";
    var allTeas = "";
    var counter = 0;
    function addSubj(){
        var input = document.getElementById('addSub').value;
        var input2 = document.getElementById('chooseTea').value;
        if(input != ''){
            currentSub = input + ',' + currentSub;
            currentTea = input2  + ',' + currentTea;
            console.log(currentSub);
            console.log(currentTea);
            // console.log({{y[0]}});
            document.getElementById('addSub').value = "";
        }
        else{
            alert('Please fill all fields!');
        }
    }
    function allSubj(){
        var input2 = document.getElementById('addSub').value;
        counter += 1
            if(counter == 6){
              // window.location('/lab');
                  // alert('hellloo')
              // progress bar
              document.getElementById('done').style.visibility = 'visible';
              document.getElementById('add').style.visibility = 'hidden';
              document.getElementById('continue').style.visibility = 'hidden';
            }
            else{
                currentSub = currentSub.slice(0, -1);
                currentTea = currentTea.slice(0, -1);
                allSubjects = currentSub + '~' + allSubjects;
                allTeas = currentTea + '~' + allTeas;
                console.log(allSubjects);
                console.log(allTeas);
                currentSub = '';
                currentTea = '';
                document.getElementById('addSub').value = "";
                document.getElementById('Sub_textAreaField1').innerHTML = allSubjects;
                document.getElementById('Sub_textAreaField2').innerHTML = allTeas;
            }


    }
    // print(allSubjects)
</script>

{% endblock %}
