{% extends 'layout.html' %}

{% block body %}
<form class=""  method="post" >
  <div class="form-group">
    <label for="subArray">Add Subject</label>
    <input type="text" id="subArray" name="subArray" class="form-control" placeholder="Add Subject" required>
    <label for="addTeacher">Choose Teacher<label>
    <!-- do select for teachers -->
    <textarea name="Sub_textAreaField" id="Sub_textAreaField" style="visibility: hidden"></textarea>
    <br>
    <button type="submit" onclick="addInSub;" class="btn btn-primary">Add</button>
    <input type="submit" onclick="javascript: form.action='/lab';" value="continue" class="btn btn-primary">
  </div>
</form>
  <script>
    //subjects
    var arrayTeach = '';
    var arraySub = '';
    function addInTeach(){

      var input = document.getElementById('subArray').value;
      arraySub.push(input);
      // Make array
      var values = "";
      for(i=0; i<arraySub.length; i++){
        values = values +" " + arraySub[i];
      }
      document.getElementById('subArray').value = "";
      document.getElementById('someSub').innerHTML = values;

      //for teacher
      var input = document.getElementById('teachArray').value;
      arrayTeach.push(input);
      // Make array
      var values = "";
      for(i=0; i<arrayTeach.length; i++){
        values = values +" " + arrayTeach[i];
      }
      // Display array
      document.getElementById('teachArray').value = "";
      document.getElementById('someTeach').innerHTML = values;
    }
  </script>
{% endblock %}
