{% extends 'layout.html' %}

{% block body %}
<form action=""  method="post">
  <div class="form-group">
    <label for="addTeacher">Add Teacher</label>
    <input type="text" id="teachArray" class="form-control" placeholder="Add Teachers">
    <br>
    <button  onclick="addInTeach();" class="btn btn-primary">Add</button>
    <button onclick="/room" class="btn btn-prim</form>y">Continue</button>
  </div>
</form>
<p id="allTeach">fff</p>
<script>
  var arrayTeach = '';
  function addInTeach(){
    var input = document.getElementById('teachArray').value;
    arrayTeach += input + ',';
    // // Make array
    var values = "";
    for(i=0; i<arrayTeach.length; i++){
      values = values +" " + arrayTeach[i];
    }
    // Display array
    document.getElementById('teachArray').value = "";
    document.getElementById('allTeach').innerHTML = values;
  }
</script>
{% endblock %}
