{% extends 'layout.html' %}

{% block body %}
<form action=""  method="post">
  <div class="form-group">
    <label for="teachArray">Add Teacher</label>
    <input type="text" id="teachArray" name="teachArray" class="form-control" placeholder="Add Teachers">
    <textarea name="textAreaField1" id="textAreaField1" ></textarea>
    <!-- style="visibility: hidden" -->
    <br>
    <button type="button" onclick="addInTeach();" class="btn btn-primary">Add</button>
    <input type="submit" onclick="javascript: form.action='/room';" value="continue" class="btn btn-primary">
  </div>
</form>
<script>
  var arrayTeach = [];
  function addInTeach(){
    var input = document.getElementById('teachArray').value;
    // check whether user has added something or not
    if(input != "")
    {
      arrayTeach.push(input);
      console.log(arrayTeach)
      // Make array
      var values = "";
      for(i=0; i<arrayTeach.length; i++){
        values = arrayTeach[i] + "," + values;
      }
      console.log(values);
      // }
      // // Display array
      document.getElementById('teachArray').value = "";
      document.getElementById('textAreaField1').innerHTML = values;
    }
    else {
      console.log("add first");
    }
  }
</script>
{% endblock %}
