{% extends 'layout.html' %}
{% block body %}

  <script type="text/javascript">
  function demoFromHTML() {
  var pdf = new jsPDF('p', 'mm', 'letter');
  // source can be HTML-formatted string, or a reference
  // to an actual DOM element from which the text will be scraped.
  source = $('#content')[0];

  // we support special element handlers. Register them with jQuery-style
  // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
  // There is no support for any other type of selectors
  // (class, of compound) at this time.
  specialElementHandlers = {
      // element with id of "bypass" - jQuery style selector
      '#bypassme': function (element, renderer) {
          // true = "handled elsewhere, bypass text extraction"
          return true
      }
  };
  margins = {
      top: 80,
      bottom: 60,
      left: 40,
      width: 1400
  };
  // all coords and widths are in jsPDF instance's declared units
  // 'inches' in this case
  pdf.addHTML(
  source, // HTML string or DOM elem ref.
  margins.left, // x coord
  margins.top, { // y coord
      'width': margins.width, // max width of content on PDF
      'elementHandlers': specialElementHandlers
  },

  function (dispose) {
      // dispose: object with X, Y of the last line add to the PDF
      //          this allow the insertion of new lines after html
      pdf.save('Timetable.pdf');
  }, margins);

}
  </script>
<style media="screen">
  table,th,td{
    border: 1px solid grey;
    border-collapse: collapse;
  }
</style>

  <div class="w3-container" >
  <div id="content">
    <div class="para" style="text-align: center;">
      <b><h4>K. J. Somaiya Institute of Engineering and Information Technology</p>
      <p>Somaiya Ayurvihar Complex, Sion, Mumbai - 400022.</h4></b>
    </div>
    <h4 style="text-align: center;"><b>MASTER TIMETABLE</b></h4>
    <p style="float: right;">{{y}}&nbsp;{{vars}}Semester</p>
    <table contenteditable='true' class="w3-table-all">
      <thead >
        <tr class="w3-grey">
          <th></th>
          <th>09:00-10:00</th>
          <th>10:00-11:00</th>
          <th>11:10-12:10</th>
          <th>12:10-01:10</th>
          <th>01:40-02:40</th>
          <th>02:40-03:40</th>
          <th>03:40-04:40</th>
        </tr>
      </thead>
      <tbody>
        {{year[index]}}
        {% for y in timetable[index] %}
        <tr>
          {% set var = loop.index %}
            <th scope="row">{{day[var-1]}}</th>
          {% for w in y %}
          <td>
            {% if w[0] is defined %}
              {% if 'S-' in w[0][-2] %}
                {{w[0][1] + ' / ' + w[0][2] +  ' / ' + w[0][4]}}
              {% else %}
                {% for m in w %}
                  {{m[1] + ' / ' + m[2] +  ' / ' + m[-3]}}
                {% endfor %}
              {% endif %}
            {% endif %}
          </td>
          {% endfor %}
       </tr>
      {% endfor %}
      <tbody>
    </table>
  </div>
</div>

<div id="bypassme"></div>
<br><br>
<button class="btn btn-primary" onclick="javascript:demoFromHTML();">Generate PDF</button>

{% endblock %}
