{% extends 'layout.html' %}
{% block body %}
{% for x in timetable %}
<table class="table">
  <thead>
    <tr>
      <th>T1</th>
      <th>T2</th>
      <th>T3</th>
      <th>T4</th>
      <th>T5</th>
      <th>T6</th>
      <th>T7</th>
    </tr>
  </thead>
  <tbody>
    {% for y in x %}
    <tr>
      {% for w in y %}
      <td>
        {% if w[0] is defined %}
          {% if 'S-' in w[0][-2] %}
            {{w[0][1] + '  ' + w[0][2] +  '  ' + w[0][4]}}
          {% else %}
            {% for m in w %}
              {{m[1] + '  ' + m[2] +  '  ' + m[-3]}}
            {% endfor %}
          {% endif %}
        {% endif %}
      </td>
      {% endfor %}
   </tr>
  {% endfor %}
  <tbody>
</table>
{% endfor %}
{% endfor %}
